body {
  margin-top: 56px; }

.navbar {
  box-shadow: 1px 1px 5px #007bff;
  background: #fff; }
  .navbar .fa {
    color: #007bff;
    font-size: 1.25rem; }
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 15px;
    text-align: center; }
  .navbar .nav-link {
    text-transform: uppercase; }
  .navbar .custom-toggler.navbar-toggler {
    border-color: #007bff; }
  .navbar .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

#about .info-header {
  width: 50%;
  margin: auto; }

ul {
  list-style-type: none;
  padding-left: 0; }

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important; }

#showcase {
  position: relative;
  background: url("../images/showcase.jpeg");
  min-height: 540px; }
  #showcase .primary-overlay {
    background: rgba(0, 123, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#about #topfeatures .fa {
  color: #007bff;
  font-size: 35px;
  background: #f8f9fa;
  padding: 30px;
  border-radius: 25px;
  border: 1px solid #007bff; }

#about #topfeatures .card:hover {
  background-color: #007bff; }
  #about #topfeatures .card:hover h3, #about #topfeatures .card:hover p {
    color: #fff !important; }

#about img {
  height: 400px; }

#about #video {
  position: relative;
  min-height: 300px;
  background: url(../images/video.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -200px;
  text-align: center;
  color: #fff; }
  #about #video .fa {
    font-size: 54px; }
  #about #video .row {
    margin: 0; }
  #about #video .dark-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#testimonials img {
  display: inline-block;
  height: 150px; }

#team .card:hover {
  background: radial-gradient(circle, #007bff, #0074eb, #006cd8, #0565c4, #0e5db1);
  color: #fff; }
  #team .card:hover .fa {
    color: #fff; }

#team img {
  margin-top: -65px; }

#team .fa {
  font-size: 20px; }

#contact {
  outline: none; }
  #contact textarea {
    min-height: 250px; }

#newsletter form {
  margin: 0; }

#newsletter form button {
  border-radius: 0 0.8rem 0.8rem 0;
  width: 30%; }

#newsletter form input {
  border-radius: 0.8rem 0 0 0.8rem;
  border: none;
  width: 70%; }

#newsletter form button, #newsletter form input {
  min-height: 50px; }

footer .fa {
  font-size: 30px;
  color: #fff; }

footer .fa:hover {
  color: #007bff; }

#newsletter, #testimonials {
  background: radial-gradient(circle, #007bff, #0074eb, #006cd8, #0565c4, #0e5db1); }

#choose, #ios, #team {
  background: linear-gradient(to top, #f8f9fa, #edeef0, #e1e4e6, #d6d9dd, #cbcfd3); }

#topfeatures, #android, #contact, #pricing {
  background: linear-gradient(to bottom, #f8f9fa, #edeef0, #e1e4e6, #d6d9dd, #cbcfd3); }

#footer {
  background: radial-gradient(circle, #343a40, #272f37, #1b252f, #0f1a26, #000f1e); }

@media (max-width: 767.98px) {
  #about #choose ul li {
    text-align: center; }
  #about #choose img {
    display: none; }
  #about #android img, #about #ios img {
    height: 250px; }
  #team .row {
    padding: 10px; }
  #team .col-md-4 {
    margin-bottom: 50px; }
  #contact, #team {
    padding-top: 0 !important;
    padding-bottom: 0 !important; } }
